commit.time
.*.sw*

*.pdf

*.log
*.aux
.*.aux
*.blg
*.bbl
*.nav
*.snm
*.toc

*out
*.RData
*.Rlog
*.r
.Rhistory

*.wrapR.*

local.mk

testdir/
.testdir/
subclone_dir/

*.makestuff
.deps/
*.deps
*.handouts.tex
*.complete.tex
*.draft.tex
*.key.tex
*.rub.tex

lect
talk
